body {
  --colorBackground: #fff;
  --colorStroke: #f4f4f4;
  --colorModal: #fefefecc;

  --colorFont: #111;
  --colorFadedFont: #333;

  --colorScrim: #1111;
  --colorFadedScrim: #1111110a;

  --colorDescription: #808080;

  --colorAccent: #07f;
}