.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .75rem;
  padding: .75rem;
  background: var(--colorModal);
  border: var(--colorStroke) solid 1px;
  border-radius: 1rem;
  box-shadow: 0 .5rem .5rem var(--colorFadedScrim);
  width: 100%;
}

.image {

}
