.content {
	display: flex;
	align-items: center;
	gap: 2rem;
	height: 100%;
	padding-bottom: 6rem;
	@media (max-width: 1100px) {
		flex-direction: column;
	}
}

.image {
	width: min(100%, 40rem);
	aspect-ratio: 6/5;
	object-fit: cover;
	border-radius: 1rem;
}

.contentPart {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	max-width: 40rem;
}

.name {
	font-weight: 800;
	font-size: 1.5rem;
	color: var(--colorFadedFont);
	text-transform: uppercase;
}

.cost {
	font-weight: 800;
	font-variation-settings: 'slnt' -5;
	color: var(--colorFadedFont);
	font-size: 1.25rem;
}

.counter {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.description {
	margin-top: 1rem;
	text-indent: 2rem;
	font-weight: 420;
	color: var(--colorFadedFont);
}
