.link {
	font-weight: 450;
	color: var(--colorAccent);
	border-bottom: var(--colorAccent) solid 1px;
	line-height: 97.5%;
	width: fit-content;

	transition: 0.05s linear;

	&:hover {
		border-bottom: transparent solid 1px;
	}
}
